<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Todo App</name>

  <description>
      Basic todo app
  </description>

  <author href="https://alalfakawma.in" email="alalfakawma@gmail.com">
      Aseem Lalfakawma
  </author>

  <preference name="EnableViewportScale" value="false" />
  <preference name="android-windowSoftInputMode" value="adjustPan" />

  <icon src="icon.png" width="50" height="50" />

</widget>