* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

body {
	background: #1f1f1f;
}

h1 {
	text-align: center;
	margin: 5px 0 20px 0;
	color: #2b7be3;
}

#container {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	width: 100%;
	max-width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

#input {
	text-align: center;
	position: relative;
	max-width: 100%;
}

#input input {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	padding: .3em;
	outline: none;
	color: #1f1f1f;
	border: 1px solid #2b7be3;
	width: 85%;
}

#input span {
	padding: 5px;
	border: 1px solid #2b7be3;
	background-color: #2b7be3;
	cursor: pointer;
	color: #fff;
	width: 25%;
}

#input span:hover {
	transition: all .5s;
	background-color: #73a8ed;
	border-color: #73a8ed;
}

.thelist {
	width: 85%;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 10px 0 10px 4px;
	font-size: 16px;
	position: relative;
}

.thelist::after {
	content: ' ';
	width: 50%;
	margin: 5px 0;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #dfdfdf;
	height: 1px;
}

.thelist .thevalue {
	margin-right: 80px;
	word-wrap: break-word;
	cursor: pointer;
}

.thelist:last-of-type::after {
	display: none;
}

.done {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #c9405b;
	padding: 5px 5px;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
}

.done:hover {
	transition: all .5s;
	background-color: #de8c9c;
}

.delete {
	transition: all .5s;
	transform: translateX(-100%);
	opacity: 0;
}

.date {
	top: 3px;
	height: 1.75em;
	font-size: 9px;
	position: absolute;
	right: -50px;
	color: #fff;
	text-align: center;
}

.edit {
	position: absolute;
	top: 0;
	right: 3em;
	background-color: #A6CC38;
	padding: 5px 5px;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer;
}

.edit:hover {
	transition: all .5s;
	background-color: #D0F170;
}

.normal {
	background-color: #73a8ed;
}

.high {
	background-color: red;
}

.disabled {
	pointer-events: none !important;
	background-color: #666 !important;
	color: #999 !important;
}

#delete-all {
	background-color: #c9405b;
	position: absolute;
	bottom: 100%;
	left: 5%;
	cursor: pointer;
	display: inline-block;
	margin-left: 4px;
	visibility: hidden;
	font-size: 12px;
	padding: 2px 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#delete-all:hover {
	transition: all .5s;
	background-color: #de8c9c;
}

#same-todo {
	position: absolute;
	bottom: 105%;
	left: 90px;
	display: inline-block;
	margin-left: 1em;
	font-size: 10px;
	font-weight: 700;
	visibility: hidden;
	color: #fff;
}